<% layout("/layouts/boilerplate.ejs"); %> 

    <div class="row">

      <% for (let list of allList) { %>
        <a href="/listings/<%= list._id %>" class="listing-link">
          <div class="cards">
            <img src="<%= list.image.url %>" class="card-img-top" alt="listing image">
            <div class="card-body">
              <span class="card-title"><%= list.title %></span>
              <p class="card-price">&#x20B9;<%= list.price.toLocaleString("en-IN") %> / <b>Night</b></p>
            </div>
            </div>
        
        </a>
      <% } %>

  
  </div>

